body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-color: #F5F8FB;
}

.chat-box{
    background-color: #F5F8FB;
    padding: 1em;
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    color: white;
}

.message{
    line-height:5em;
    padding: 25px;
    position: relative;
    top: -11px;
    max-width: 70%;
}

.user-message .message{
    background-color: #b2dfdb;
    margin-right: 10px;
    border-radius: 20px 20px 0px 20px;

}

.bot-message .message{
    background-color: #ffcc80;
    margin-left: 10px;
    border-radius: 20px 20px 20px 0;

}

.user-message .avatar, .user-message .message{
    float:right;
}

.user-message, .bot-message{
    clear: both;
}

.user-message .avatar{
    top: -10px;
}

/*.user-message .avatar, .user-message .message{*/
.user-message .message{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.user-message .message{
    line-height: 1em;
}

.user-message .avatar{
    top:15px;
}

.avatar{
    height: 50px;
    width: 50px;
    position: relative;
    top: 18px;
}

/* input bar */

form.form-user-input{
    position: relative;
    width: 100%;
}

.chat-app{
    position: relative;
    margin-top: 50px !important;
    /*border-top: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    padding: 0 20px;

}

input[type=text].text-user-input:not(.browser-default){
    /*width: 80%;*/
    margin-bottom: 0;
    /*border-top: 2px solid black;*/
    padding: 1em;
    background-color: white;
}

