/* ==========================================================================
   General
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F5F8FB;
}

.chat-box{
    background-color: #F5F8FB;
    padding: 1em;
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    color: white;
}

.chat-app{
    position: relative;
    margin-top: 50px !important;
    padding: 0 20px;

}


/* ==========================================================================
   Messages and Avatar
   ========================================================================== */

.message{
    line-height:1em;
    padding: 25px;
    position: relative;
    top: -11px;
    max-width: 70%;
    /* allow long words to break into next line */
    word-wrap: break-word;
    -o-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
}

.user-message .message{
    background-color: #b2dfdb;
    margin-right: 10px;
    border-radius: 20px 20px 0px 20px;

}

.bot-message .message{
    background-color: #ffcc80;
    margin-left: 10px;
    border-radius: 20px 20px 20px 0;
}

.bot-message .avatar, .bot-message .message{
    float: left;
}

.user-message .avatar, .user-message .message{
    float:right;
}

.user-message, .bot-message{
    clear: both;
}

.user-message .avatar{
    top: -10px;
}

/*.user-message .avatar, .user-message .message{*/
.user-message .message{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.user-message .message{
    line-height: 1em;
}

.user-message .avatar{
    top:15px;
}

.avatar{
    height: 50px;
    width: 50px;
    position: relative;
    top: 18px;
}

.bot-message{
    padding-bottom: 10px;
    padding-top: 10px;
}

/*=============== Large screen ===============*/


@media screen and (min-width: 993px) {
    .avatar{
        top: 5px;
    }

}


/* ==========================================================================
   Text Input Bar
   ========================================================================== */


form.form-user-input{
    position: relative;
    width: 100%;
}


input[type=text].text-user-input:not(.browser-default){
    margin-bottom: 0;
    padding: 1em 0 1em 1em;
    background-color: white;
    -o-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
}



